<html>
  <head>
  </head>
    <body>
        <form action='/' method="POST" enctype="multipart/form-data">
          <label>Item Name </label>
          <input type='text' name='itemname'>

          <label>Price </label>
          <input type='integer' name='price'>

          <label>Description</label>
          <input type='text' name='desc'>

          <label>Type </label>
          <input type='text' name='type'>

          <button type='submit'>Create </button>



        </form>
    </body>

<html>
